
@{
    ViewData["Title"] = "About";
}
<br />
<!--Header-->
<div class="container-fluid p-0 m-0" style="background: #f7f2d7;">
    <div class="container py-5">
        <section id="background" class="py-5 text-center text-light">
            <div class="dark-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>About Us</h3>
                            <p class="lead">Gears are used for transmitting power from one part of a machine to another. In a bicycle, for example, it's gears that take power from the pedals to the back wheel</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <section>
            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow rounded">
                        <div class="card-header py-4 d-flex justify-content-center">
                            <img src="~/images/Shahariar.jpg" alt="Shahariar" class="rounded-circle" style="height:150px;width:150px">
                        </div>
                        <div class="container text-center">
                            <h2>Md Shahariar Sarkar</h2>
                            <p class="title">Team Supervisor</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                            <p>shahariar123@example.com</p>
                            <p><button class="button" style="padding:8px;color:white;background-color:#000;text-align:center;width:100%;">Contact</button></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow rounded">
                        <div class="card-header py-4 d-flex justify-content-center">
                            <img src="~/images/Jahangir.jpg" alt="Jahangir" class="rounded-circle" style="height:150px;width:150px">
                        </div>
                        <div class="container text-center">
                            <h2>Md Jahangir Alam</h2>
                            <p class="title">Team Member</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                            <p>jahangir123@example.com</p>
                            <p><button class="button" style="padding:8px;color:white;background-color:#000;text-align:center;width:100%;">Contact</button></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow rounded">
                        <div class="card-header py-4 d-flex justify-content-center">
                            <img src="~/images/AbuMusa.jpg" alt="Musa" class="rounded-circle" style="height:150px;width:150px">
                        </div>
                        <div class="container text-center">
                            <h2>Md Abu Musa</h2>
                            <p class="title">Team Member</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                            <p>musa123@example.com</p>
                            <p><button class="button" style="padding:8px;color:white;background-color:#000;text-align:center;width:100%;">Contact</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

