
@{
    ViewData["Title"] = "About";
}
<br />
<!--Header-->
<section id="background" class="py-5 text-center text-light">
    <div class="dark-overlay">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>About Us</h3>
                    <p class="lead">Gears are used for transmitting power from one part of a machine to another. In a bicycle, for example, it's gears that take power from the pedals to the back wheel</p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<!--Home info-->
<section id="background" class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h3>Some Text</h3>
                <p class="lead">Gears are used for transmitting power from one part of a machine to another. In a bicycle, for example, it's gears that take power from the pedals to the back wheel</p>
                <a href="#" class="btn btn-success btn-outline-dark">Read More</a>
            </div>
            <div class="col-md-6 mt-sm-3">
                <img src="~/images/ecommerce07.jpeg" alt="Farmer" class="img-fluid rounded-circle" />
            </div>
        </div>
    </div>
</section>
<br />
<!--About management section-->
<section id="background" class="text-light" style="height:100px">
    <h2 style="text-align:center" class="pt-4">About Developer</h2>
</section>
<section>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/Shahariar.jpg" alt="Jane" style="width:100%;height:350px">
                <div class="container">
                    <h2>Md Shahariar Sarkar</h2>
                    <p class="title">Team Supervisor</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>shahariar123@example.com</p>
                    <p><button class="button" style="padding:8px;color:white;background-color:#000;text-align:center;width:100%;">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="~/images/Jahangir.jpg" alt="Mike" style="width:100%;height:350px">
                <div class="container">
                    <h2>Md Jahangir Alam</h2>
                    <p class="title">Team Leader</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>jahangir123@example.com</p>
                    <p><button class="button" style="padding:8px;color:white;background-color:#000;text-align:center;width:100%;">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="~/images/AbuMusa.jpg" alt="John" style="width:100%;height:350px">
                <div class="container">
                    <h2>Md Abu Musa</h2>
                    <p class="title">Team Member</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>musa123@example.com</p>
                    <p><button class="button" style="padding:8px;color:white;background-color:#000;text-align:center;width:100%;">Contact</button></p>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<!--About Developer section-->
<section id="background" class="text-light" style="height:100px">
    <h2 style="text-align:center" class="pt-4">About Developer</h2>
</section>
<section class="text-center">
    <div class="container">
        <div class="row text-center" style="background-color:#E1ECAC">
            <div class="col-md-4 pt-3">
                <img src="~/images/Shahariar.jpg" alt="Jane" class="rounded-circle" style="width:200px;height:200px">
            </div>
            <div class="col-md-8 pt-2">
                <h3>Md Shahariar Sarkar</h3>
                <p class="title">Team Supervisor</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>shahariar123@gmail.com</p>
                <div class="form-inline justify-content-center">
                    <a href="https://www.facebook.com/jahangiralam3549"><i class="fab fa-facebook m-3" style="font-size:40px;"></i></a>
                    <a href="https://www.facebook.com/jahangiralam3549"><i class="fab fa-linkedin m-3" style="font-size:40px;"></i></a>
                </div>
            </div>
        </div>
        <div class="row text-center" style="background-color:lightblue">
            <div class="col-md-8 pt-2">
                <h3>Md Jahangir Alam</h3>
                <p class="title">Team Leader</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jahangiralam3549@gmail.com</p>
                <div class="form-inline justify-content-center">
                    <a href="https://www.facebook.com/jahangiralam3549"><i class="fab fa-facebook m-3" style="font-size:40px;"></i></a>
                    <a href="https://www.facebook.com/jahangiralam3549"><i class="fab fa-linkedin m-3" style="font-size:40px;"></i></a>
                </div>
            </div>
            <div class="col-md-4 pt-3">
                <img src="~/images/jahangir.jpg" alt="Jane" class="rounded-circle" style="width:200px;height:200px">
            </div>
        </div>
        <div class="row text-center text-light" style="background-color:#61210f">
            <div class="col-md-4 pt-3">
                <img src="~/images/AbuMusa.jpg" alt="Jane" class="rounded-circle" style="width:200px;height:200px">
            </div>
            <div class="col-md-8 pt-2">
                <h3>Md Abu Musa</h3>
                <p class="title">Team Member</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>musa@example.com</p>
                <div class="form-inline justify-content-center">
                    <a href="https://www.facebook.com/jahangiralam3549"><i class="fab fa-facebook m-3" style="font-size:40px;"></i></a>
                    <a href="https://www.facebook.com/jahangiralam3549"><i class="fab fa-linkedin m-3" style="font-size:40px;"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<br />

