@font-face{
    font-family: HindSiliguri;
    src: url('../assets/fonts/HindSiliguri-Bold.ttf');
}

.w3-animate-fading[data-scroll="in"]{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity[data-scroll="in"]{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 1s}@keyframes animatetop{from{top:-500px;opacity:0} to{top:0;opacity:1}}
.w3-animate-top-scroll[data-scroll="in"]{position:relative;animation:animatetopscroll 2s}@keyframes animatetopscroll{from{top:-500px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 2s}@keyframes animateleft{from{left:-500px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 2s}@keyframes animateright{from{right:-500px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 2s}@keyframes animatebottom{from{bottom:-500px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom[data-scroll="in"] {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input[data-scroll="in"]{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}

.media_section span {
    margin: 3px 10px;
}

.map-container{
    overflow:hidden;
    position:relative;
    height: 350px;
    }
.map-container iframe{
    left:0;
    top:0;
    height: 350px;
    width:100%;
    position:absolute;
}
.contact_section{
    background: url('../images/bg4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.contact_section .title{
    text-align: center;
    color: #fff;
}
.contact_section .form-group .form-control{
    background: none;
    border-color: rgba(255,255,255,.1);
    margin: 15px 3;
}
textarea.form-control{
    min-height: 180px;
}
.contact_section .form-control::-webkit-input-placeholder {
    color: #fff;
}
.contact_section .form-control::-moz-placeholder {
    color: #fff;
}
.contact_section .form-control:-ms-input-placeholder {
    color: #fff;
}
.contact_section .form-control:placeholder {
    color: #fff;
}
.media_section span{
    margin: 3 10px;
}
#contactbutton{
    position: relative;   
    letter-spacing: 4px;   
    color: #fff;
    
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    background: #028fcc;
    border: none;
    text-align: center;
    overflow: hidden;
    /* padding: 5px 30px 50px 30px; */  
}
#contactbutton:hover{
    background: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4,0 0 25px #03e9f4,0 0 50px #03e9f4,0 0 100px #03e9f4;
}

 