@font-face{
    font-family: HindSiliguri;
    src: url('../assets/fonts/HindSiliguri-Bold.ttf');
}
@font-face{
    font-family: KarnaphuliEMJ;
    src: url('../assets/fonts/KarnaphuliEMJBold.ttf');
}
.w3-animate-fading[data-scroll="in"]{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity[data-scroll="in"]{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 1s}@keyframes animatetop{from{top:-500px;opacity:0} to{top:0;opacity:1}}
.w3-animate-top-scroll[data-scroll="in"]{position:relative;animation:animatetopscroll 2s}@keyframes animatetopscroll{from{top:-500px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 1s}@keyframes animateleft{from{left:-500px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 1s}@keyframes animateright{from{right:-500px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 1s}@keyframes animatebottom{from{bottom:-500px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom[data-scroll="in"] {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input[data-scroll="in"]{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}


/********Header section start********/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
/********Header section end********/
/********hamburger menu start********/
.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;       
    padding: 0;
    float: right;
    display: none;   
  }
  button.menu:focus {    
    outline: none
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 4;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
/********hamburger menu end********/
/********Footer section start********/
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
 }
/********Footer section end********/
/********carousel_section start********/
  .carousel_section .img-fluid{
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 400px;
  }
  .carousel-item{
      height: 550px;
  }
  .carousel-caption{
      margin-bottom: 40px;
  }
.carousel-img-1 {
    background: linear-gradient(to right,dodgerblue,black);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel-img-2 {
    background: linear-gradient(to right,#03e9f4,dodgerblue);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel-img-3 {
    background: linear-gradient(to right,tomato,gray);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel-img-4 {
    background: linear-gradient(to right,#ffd800,black);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel-control-prev, .carousel-control-next {
    margin-top: 87px;
    height:550px;
}
/********carousel_section end********/
/********sidebar section start********/
.sidebar {
    margin: 0;
    padding: 0;
    width: 220px;
    position: initial;
    height: 100%;
    overflow: auto;
}

    .sidebar a {
        display: block;
        color: dodgerblue;
        padding: 10px;
        text-decoration: none;
    }

        .sidebar a.active {
            background-color: gainsboro;
            color: darkblue;
        }

        .sidebar a:hover:not(.active) {
            background-color: #555;
            color: dodgerblue;
        }

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}
/********sidebar section end********/
/********popular product section start********/
.product-top {
    width: 100%;
}

.overlay-right {
    display: block;
    opacity: 0;
    background-color: black;
    position: absolute;
    top: 0;
    margin-left: 0;
    width: 65px;
    height: 220px;
}

    .overlay-right .fa {
        cursor: pointer;
        background-color: dodgerblue;
        color: #fff;
        height: 35px;
        width: 35px;
        font-size: 15px;
        padding: 5px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .overlay-right .btn-secondary {
        background: none !important;
        border: none !important;
        box-shadow: none !important;
    }

.product-top:hover .overlay-right {
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}

.product-bottom .fa {
    color: orange;
    font-size: 10px;
}
.pagination {
    margin-left: 30px;
}

    .pagination li {
        padding: 5px 10px;
        border: 1px solid gray;
        margin-top: 10px;
    }

        .pagination li:hover {
            background: gray;
            color: white;
        }

.dropdown-toggle::after {
    margin-left: 50px;
}
#viewall{
    padding: 10px 20px;
    border-radius:10px;
    background: linear-gradient(to right, #028fcc,#ffd800);
    color:#f2f2f2;
    float:right;

}
/********popular product section end********/
/********Flash Sale section start********/
.post-wrapper2 {
    padding: 10px 10px 10px 45px;
}
.arrow_next2 {
    position: relative;
    top: 0px;
    right: 0px;
    font-size: 3em;
    color: black;
    cursor: pointer;
    width: 35px;
    z-index: 2;
    float: right;
    opacity: 0.5;
}

.arrow_prev2 {
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 3em;
    color: black;
    cursor: pointer;
    width: 35px;
    z-index: 2;
    opacity: 0.5;
    height: 0;
}
/*.slick-dots {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 16px 0;
    list-style: none;
    bottom: 30px;
    font: icon;
}

    .slick-dots li {
        margin: 0 0.25rem;
        background: #fff;
        border-radius: 50%;
        font-size: 0px;
    }

    .slick-dots button {
        display: block;
        width: 16px;
        height: 16px;
        padding: 0;
        border: none;
        border-radius: 50%;
    }
    .slick-dots li.slick-active button {
        background-color: tomato;
    }*/
/********Flash Sale section end********/
/********Developer  section start********/
    .developerSection .card-body {
        background: #ffece4;
        border: 1px solid #f75700;
        border-radius: 3px;
        padding:10px;        
    }
        .developerSection .card-body:hover {
            transform: translateY(-8px);
            box-shadow: 8px 8px gray;
        }
    .developerSection .card-body, h3, h5, h6 {
        padding: 5px;
    }
        /********Developer section end********/
        .counter_Section .container {
    padding: 50px 10px;
}
.counter_Section .counter_Card{
    padding: 20px;
}
.counter_Section .counter_Card .counter_Card_col{
    border-bottom: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    padding: 30px 10px;
}
.counter_Section .counter_Card .counter_Card_col:last-child{
    border-right: none;
}
.counter_Section .counter_Card .counter_Card_col:hover{
    transform: translateY(-10px);
    box-shadow: -5px 5px 5px 5px gray;
}
.counter_Section .counter_Card span{
    padding: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;   
}
.counter_Section .counter_Card .fa-desktop, .fa-user, .fa-envelope, .fa-trophy {
    font-size: 50px;
    color: #028fcc;
    background: none;
    padding: 3;   
}
.counter_Section .counter_Card p{
    font-size: 16px;
    text-align: justify;
}
.map-container{
    overflow:hidden;
    position:relative;
    height: 350px;
    }
.map-container iframe{
    left:0;
    top:0;
    height: 350px;
    width:100%;
    position:absolute;
}
.contact_section{
    background: url('../images/bg4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.contact_section .title{
    text-align: center;
    color: #fff;
}
.contact_section .form-group .form-control{
    background: none;
    border-color: rgba(255,255,255,.1);
    margin: 15px 3px;
}
textarea.form-control{
    min-height: 180px;
}
.contact_section .form-control::-webkit-input-placeholder {
    color: #fff;
}
.contact_section .form-control::-moz-placeholder {
    color: #fff;
}
.contact_section .form-control:-ms-input-placeholder {
    color: #fff;
}
.contact_section .form-control:placeholder {
    color: #fff;
}
.media_section span{
    margin: 3px 10px;
}
#contactbutton{
    position: relative;   
    letter-spacing: 4px;   
    color: #fff;
    
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    background: #028fcc;
    border: none;
    text-align: center;
    overflow: hidden;
    /* padding: 5px 30px 50px 30px; */  
}
#contactbutton:hover{
    background: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4,0 0 25px #03e9f4,0 0 50px #03e9f4,0 0 100px #03e9f4;
}

/*portfolio details*/
.video_Section header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
 .video_Section header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
 .video_Section header .container {
    position: relative;
    z-index: 2;
  }
  
  .video_Section header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  .svg-inline--fa {
    margin: 5px;
}

  @media (pointer: coarse) and (hover: none) {
    .video_Section header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }   
  }

/*@media screen and (max-width: 990px){
    .menu {
        display: block;
      }

      header nav{
        position: absolute;
        width: 50%;
        height: 100vh;
        background: #fff;
        opacity: 1;
        color: #000;
        top: 69px;
        left: -100%;
        transition: 0.6s ease;
        border-top: 2px solid red;
   }
    header .overlay{
        position: fixed;
        margin-top: 69px;
        top: 0;
        left: 0;
        right: 0;
        background:rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        display: none;
        transition: 1s ease;
   }
   header .overlay.active{
    display: block;
    animation: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
    header nav.active{
        left: 0;
   }
   header nav ul{
    display: block;
    text-align: left;
    float: left;
    padding-left: 3px;
}
header nav ul li{
   padding: 10px;
   border-bottom: 1px solid gray;
   width: 50vw;
}
header nav ul li:first-child{
   padding-top: 3px;
}
header nav ul li a{
    color: #000;
}
header nav ul li a:hover{
    color: blue;
}
#dropdownMenuLink{
    color: #000;
}
}*/
 